/* global.css */

/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Label Style */
.label {
  display: inline-block;
  font-size: 16px;
  color: #000; /* Black color */
  margin-bottom: 5px;
}


a {
  color: #007bff;
  text-decoration: none;
}

/* Buttons */
.button {
  background-color: #fff;
  color: #333;
  border-radius: 12px; /* Adjust border radius for rectangle shape */
  padding: 20px 30px; /* Adjust padding for larger buttons */
  margin: 10px;
  border: 2px solid #000;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px; /* Maximum width for the button */
  width: auto; /* Allow buttons to expand as needed */
}

.button:hover {
  background-color: #e0e0e0; /* Light grey on hover */
}

/* Header */
.dashboard-header {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #800000; /* Hint of red */
  margin-bottom: 30px;
}

h1{
  font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    width: 100%; /* Take up full width */
}

h2{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: black; /* Hint of red */
  margin-bottom: 30px;
}

/* Main container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc; /* Border around main components */
  border-radius: 10px; /* Rounded corners */
}

/* Navigation buttons container */
.navigation-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Cards */
.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.card-content {
  color: #666;
}

/* Alerts */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 8px;
}

.alert-success {
  background-color: #e0e0e0; /* Light grey */
  border-color: #ef9a9a; /* Red */
  color: #333;
}

.alert-danger {
  background-color: #ffcdd2; /* Light red */
  border-color: #e57373; /* Dark red */
  color: #333;
}

.alert-info {
  background-color: #e0f7fa; /* Light blue */
  border-color: #4dd0e1; /* Blue */
  color: #333;
}

/* Navigation */
.navbar {
  background-color: #333; /* Dark grey */
  color: #fff;
  padding: 15px 20px;
}

.nav-link {
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Responsive design */
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
  .wrapper {
    justify-content: center; /* Center buttons on smaller screens */
  }
}

/* Logos */
/*.core-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 100px; /* Adjust the size as needed */
  /*height: auto;
  z-index: 1000; /* Ensure the logo appears above other content */
  /*background-image: url("./assets/corelogo.png"); /* Adjust path if necessary */
  /*background-size: contain;
  background-repeat: no-repeat;
}*/

.insightpro-logo {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 100px; /* Adjust the size as needed */
  height: auto;
  z-index: 1000; /* Ensure the logo appears above other content */
  background-image: url("./assets/insightpro_logo.png"); /* Adjust path if necessary */
  background-size: contain;
  background-repeat: no-repeat;
}

.insightpro-logo {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 100px; /* Adjust the size as needed */
  height: auto;
  z-index: 1000; /* Ensure the logo appears above other content */
  background-size: contain;
  background-repeat: no-repeat;
}
.logo {
  max-width: 300px; /* Adjust this value as needed to scale your image */
  width: 50%; /* You can also use percentage to make it responsive */
  margin-bottom: 20px;
}

.home-page {
  text-align: center;
  padding: 20px;
}

p{
  color: black;
}

body, .home-page {
  background-color: #cfcfcf; /* Sets the background color */
}

.form-container {
  width: 120%; /* Adjust width as needed */
  max-width: 1200px; /* Adjust max-width as needed */
  margin: 0 auto;
  padding: 30px;
  border: 2px solid #ccc; /* Border around form */
  border-radius: 10px; /* Rounded corners */
  background-color: #fff; /* White background */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Center items along main axis */
  align-items: center; /* Center items along cross axis */
}

/* Form input fields */
.input-field {
  width: 100%;
  margin-bottom: 20px;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
}

.input-field input {
  width: calc(100% - 20px); /* Adjust width as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Login Page */

.wrapper1 {
  width: 420px;
    background-color: crimson;
    border: 2px solid rgba(255, 255, 255,.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: aliceblue;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper {
  background-color: transparent;
  border: none;
  padding: 20px;
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  width: auto; /* Allow the wrapper to expand as needed */
  max-width: 1800px; /* Set a maximum width for the wrapper */
  margin: 20px auto; /* Center the wrapper horizontally and add margin-top */
  position: relative; /* Position relative for absolute positioning */
  flex-direction: column; /* Stack items vertically */
  pointer-events: none; /* Make the wrapper transparent to pointer events */
}

/* Title Style */
.wrapper::before {
  content: ''; /* Add a pseudo-element */
  display: block; /* Make it a block-level element */
  height: 50px; /* Adjust the height as needed */
  width: 100%; /* Take up full width */
  position: absolute; /* Position absolutely */
  top: -70px; /* Adjust the distance from the top */
  background-color: transparent; /* Match the wrapper's background */
}

.wrapper h1{
  font-size: 36px;
  text-align: center;
  color: #333;
}

.wrapper h2 {
  font-size: 36px;
  text-align: center; /* Align the text to the left */
  color: #333;
  width: 100%; /* Ensure the text takes up the full width */
  margin-bottom: 30px; /* Adjust spacing as needed */
}

.wrapper input{
  pointer-events: auto; /* Re-enable pointer events for the buttons */
}

.wrapper option{
  pointer-events: auto; /* Re-enable pointer events for the buttons */
}

.wrapper.horiz-button {
  display: flex;
  flex-direction: column;
  pointer-events: auto; /* Re-enable pointer events for the buttons */
}

.wrapper.horiz-button button {
  margin-bottom: 10px; /* Adjust as needed */
  pointer-events: auto; /* Re-enable pointer events for the buttons */
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  pointer-events: auto; /* Re-enable pointer events for the buttons */
  margin: 30px 0;
}

.wrapper select {
  width: 200px; /* Adjust width as needed */
  display: inline-block;
  pointer-events: auto; /* Re-enable pointer events for the buttons */
  vertical-align: middle;
  margin-right: 10px;
  padding: 8px;
  font-size: 14px; /* Adjust font size as needed */
}

.wrapper ul {
  list-style-type: none;
  padding: 0;
  pointer-events: auto; /* Re-enable pointer events for the buttons */
}

.wrapper ul li {
  margin-bottom: 10px;
  pointer-events: auto; /* Re-enable pointer events for the buttons */
}

.wrapper h3 {
  text-align: center;
  margin-top: 20px; /* Adjust spacing as needed */
  margin-bottom: 10px; /* Adjust spacing as needed */
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  outline: none;
  border-radius: 40px;  
  font-size: 16px;
  color: aliceblue; 
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color: aliceblue;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.wrapper .input-sq-box {
  position: relative;
  width: 100%;
  height: 50px;
  pointer-events: auto; /* Re-enable pointer events for the buttons */
  margin: 30px 0;
}

.wrapper1 .input-sq-box {
  position: relative;
  width: 100%;
  height: 50px;
  pointer-events: auto; /* Re-enable pointer events for the buttons */
  margin: 30px 0;
}

.input-sq-box input {
  width: 100%;
  height: 100%;

  border: 2px solid rgba(255, 255, 255, .2);
  outline: none;
  border-radius: 40px;  
  font-size: 16px;
  color: black; 
  padding: 20px 45px 20px 20px;
}

.input-sq-box input::placeholder{
  color: aliceblue;
}

.input-sq-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.wrapper .forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
  pointer-events: auto; /* Re-enable pointer events for the buttons */
}

.wrapper1 .forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
  pointer-events: auto; /* Re-enable pointer events for the buttons */
}

.forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.forgot a {
  color: #fff;
  text-decoration: none;
}

.forgot a:hover {
  text-decoration: underline;
}

.wrapper button {
  background-color: #fff;
    color: #333;
    border-radius: 12px; /* Adjust border radius for rectangle shape */
    padding: 20px 30px; /* Adjust padding for larger buttons */
    margin: 10px;
    border: 2px solid #000;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Maximum width for the button */
    width: auto; /* Allow buttons to expand as needed */
    pointer-events: auto; /* Re-enable pointer events for the buttons */
  }

  .wrapper1 button {
    background-color: #fff;
      color: #333;
      border-radius: 12px; /* Adjust border radius for rectangle shape */
      padding: 20px 30px; /* Adjust padding for larger buttons */
      margin: 10px;
      border: 2px solid #000;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      max-width: 300px; /* Maximum width for the button */
      width: auto; /* Allow buttons to expand as needed */
      pointer-events: auto; /* Re-enable pointer events for the buttons */
    }

  .wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    pointer-events: auto; /* Re-enable pointer events for the buttons */
  }

  .wrapper1 .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    pointer-events: auto; /* Re-enable pointer events for the buttons */
  }

  .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .register-link p a:hover{
    text-decoration: underline;
  }
  
  body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .option-button,
  .submit-button {
    width: calc(100% - 20px); /* Adjust width as needed */
    margin: 10px; /* Add margin for space */
  }
  
  /* Option Style */
  .option {
    display: inline-block;
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 8px 16px; /* Padding */
    margin-right: 10px; /* Margin between options */
    vertical-align: middle; /* Aligns options vertically with adjacent content */
  }
  
  /* Custom Dropdown Style */
  .custom-dropdown {
    display: inline-block;
    position: relative;
  }
  
  .custom-dropdown select {
    appearance: none; /* Remove default arrow */
    padding: 10px 40px 10px 15px; /* Adjust padding as needed */
    border: 2px solid #ccc; /* Add border */
    background-color: #fff; /* Background color */
    color: #333; /* Text color */
    cursor: pointer;
    border-radius: 0; /* Remove border radius */
  }
  
  .custom-dropdown::after {
    content: '\25BC'; /* Unicode for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333; /* Arrow color */
  }
  
  /* Option Button Style */
  .option-button {
    padding: 10px 30px; /* Adjust padding as needed */
    border: none; /* Remove border */
    background-color: #fff; /* Background color */
    color: #333; /* Text color */
    cursor: pointer;
  }
  
  .option-button:hover,
  .option-button:focus {
    background-color: #f0f0f0; /* Background color on hover/focus */
  }
  
  .custom-form {
    display: flex;
    flex-direction: column;
  }
  
  .custom-dropdown {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .custom-dropdown label {
    margin-right: 10px;
    width: 100px; /* Set label width */
  }
  
  .custom-dropdown select {
    flex: 1;
    padding: 5px;
  }
  
  .options {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .options label {
    margin-bottom: 5px;
  }
  
  .options input[type="text"], textarea {
    margin-bottom: 10px;
  }
  
  .options button {
    align-self: flex-start;
    width: auto;
  }
  
  .question-container {
    margin-bottom: 20px;
  }
  
  .button-container {
    text-align: center; /* Center the buttons */
  }
  
  .button-container button {
    display: inline-block; /* Make buttons display inline */
    margin: 0 10px; /* Add margin between buttons */
  }
  

  .divider {
    margin: 20px 0;
    border: 1px solid #ccc;
  }

  .wrapper1 h1{
    font-size: 36px;
    text-align: center;
    color: #333;
  }
  
  .wrapper1 h2 {
    font-size: 36px;
    text-align: center; /* Align the text to the left */
    color: #333;
    width: 100%; /* Ensure the text takes up the full width */
    margin-bottom: 30px; /* Adjust spacing as needed */
  }
  
  .wrapper1 input{
    pointer-events: auto; /* Re-enable pointer events for the buttons */
  }
  
  .wrapper1 option{
    pointer-events: auto; /* Re-enable pointer events for the buttons */
  }
  
  .wrapper1.horiz-button {
    display: flex;
    flex-direction: column;
    pointer-events: auto; /* Re-enable pointer events for the buttons */
  }
  
  .wrapper1.horiz-button button {
    margin-bottom: 10px; /* Adjust as needed */
    pointer-events: auto; /* Re-enable pointer events for the buttons */
  }
  
  .wrapper1 .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    pointer-events: auto; /* Re-enable pointer events for the buttons */
    margin: 30px 0;
  }
  
  .wrapper1 select {
    width: 200px; /* Adjust width as needed */
    display: inline-block;
    pointer-events: auto; /* Re-enable pointer events for the buttons */
    vertical-align: middle;
    margin-right: 10px;
    padding: 8px;
    font-size: 14px; /* Adjust font size as needed */
  }
  
  .wrapper1 ul {
    list-style-type: none;
    padding: 0;
    pointer-events: auto; /* Re-enable pointer events for the buttons */
  }
  
  .wrapper1 ul li {
    margin-bottom: 10px;
    pointer-events: auto; /* Re-enable pointer events for the buttons */
  }
  
  .wrapper1 h3 {
    text-align: center;
    margin-top: 20px; /* Adjust spacing as needed */
    margin-bottom: 10px; /* Adjust spacing as needed */
  }